{% extends 'base.html' %}
{% block title %} Sales {% endblock %}
{% block content %}
<div>
    <p>This is the sales page</p>
    <div>
        <form action="/add_sales" method="post">
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Sales ID</label>
                <input type="number" name="sales_id" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Products ID</label>
                <input type="number" name="products_id" class="form-control" id="exampleInputPassword1">
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Sales Quantity</label>
                <input type="number" name="quantity" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <button type="submit" class="btn btn-primary">Add sales</button>
        </form>
    </div>
    <table id="example" class="table table-striped">
        <thead>
            <tr>
                <th>Sales ID</th>
                <th>Products ID</th>
                <th>Sales Quantity</th>
                <th>Created_at</th>
            </tr>
        </thead>
        <tbody>
            {% for i in sales_data %}
            <tr>
                <td>{{ i[0] }}</td>
                <td>{{ i[1] }}</td>
                <td>{{ i[2] }}</td>
                <td>{{ i[3] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>





    {% endblock %}